html{
 width: 100%;
 height: 100%;
 background-color: #dae8d5;
 font-family: "微軟正黑體","Microsoft JhengHei";
 color: #fff;

}

body{
 width: 100%;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0;
 background-image: url(../img/bg3.png);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;

 position: relative;
 align-items:center;
 justify-content:center;
 font-family: "微軟正黑體","Microsoft JhengHei";
}

h4{
 font-family: "微軟正黑體","Microsoft JhengHei";
}

.clear:after{
 display: block;
 clear: both;
 content: "";
}

.set_right{
 display: block;
 float: right;
}
.set_left{
 display: block;
 float: left;
}


.container{
 width: 1280px;
 height: 768px;
 padding:0px;
 margin: auto;
 /* height: 100%; */
}

#que{
 height:301px;
 margin-bottom: 20px;

}
.question_area{
 position: absolute;
 width:700px;
 height:333px;
 margin: 0px;
 text-align: center;
 background-image: url(../img/monster22.png);
 border-radius:10px;
}
.question{
 position:absolute;
 width:401px;
 top: 52%;
 padding:10px 15px;
 margin:0px 0px 0px 123px ;
 line-height: 35px;　　　
 /* margin:-40% 10px 0px 10px; */ /* -20是字高!! */
}

.ans_area{
 width:580px;
 height:258px;
 margin-left: -12px;
 /* margin-right: 20px; */
 margin-top: 33px;
}
.answer_style{
 position: relative;
 width: 270px;
 height:118px;
 margin: 0px;
 text-align: center;
 margin-left: 12px;
 margin-top: 10px;
 border-radius:10px;
 border:3px #000 solid;
}
.answer_style p{
 position:absolute;
 font-size: 24px;
 width:277px;
 top: 50%;
 padding: 0px;
 margin-top:-12px; /* -20是字高!! */
}



.data{
 width: 286px;      /*259*/
 padding-top: 30px;  /* 72 */
 margin-left: 0px;  /* 57 */
}
.point_area{
 /* height: 64px; */
 width: 180px;   /* 275 */
 height: 130px;  /* 238 */
 padding:123px 53px 0px 53px;
 margin-bottom: 20px;
 /* background-color: #777;
 border-radius:10px; */
 background-image: url(../img/game_box.png);
}
.point{
 float: left;
 margin-right: 5px;
 filter:grayscale(100%);
}
.top_point{
 margin-bottom:14px;
}



.last_box{
 margin-left: 0px;
 margin-right: 0px;
}
/* #que{
 width: 1000px;
 height:80px;
 margin: auto;
} */

#play_area{
 display: block;
 width: 944px;
 height: 579px;
 margin: auto;
 margin-top: 30px;
 background-color: rgba(255,255,255,0.4);
 position: relative;
}
.ball{
 width: 35px;
 height:35px;
 /* border-radius: 50%; */
 position:absolute;
 z-index: 5;
}

.center_box{
 padding-top: 10px;
 padding-right: 0px;
 margin:auto;
 display: flex;
 justify-content: center;
}
.diamond_area{
 width: 208px;
 height:86px;
 padding-top: 10px;
 padding-right: 0px;
 margin-left: 50px;
 display: flex;
}
.diamond_style{
 height:86px;
 margin: 0px;
 text-align: center;
 margin-left: 30px;
 margin-top: -40px;
 filter:grayscale(100%);
 z-index: 10;
 animation: rotating 1.5s ease-in-out infinite;
 transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 /* filter: hue-rotate(27deg); */
}
@keyframes rotating {
  0%{
    transform: rotate(calc(-10deg));
    -webkit-transform: rotate(calc(-10deg));
  }
  50% {
     transform: rotate(calc(10deg));
     -webkit-transform: rotate(calc(10deg));
   }
  100% {
      transform: rotate(calc(-10deg));
      -webkit-transform: rotate(calc(-10deg));
  }
}
.eatDiamond{
  margin-left: -70px;
  margin-top: -175px;
  animation:none;
  height: 60px;
  opacity: 0;
}

.player{
 display: block;
 position:absolute;
 bottom: 20px;
 left: 50%;
}



a{
 text-decoration: none;
 color: #fff;
 letter-spacing: 50px;　
}
/* header{
 position: fixed;
 right: 0px;
 width: 356px;
 height:356px;
} */

.logo img{
 position: fixed;
 width: 183px;
 right:-91.5px;
 top:-91.5px;
}
/* .logo:hover img
{
 width: 366px;
 right:-183px;
 top:-183px;
} */

/* .balls{
 position: fixed;
 width: 356px;
 height:356px;
 right:0px;
 top:0px;
} */


.startBtn{
 width: 100px;
 height:100px;
 position: fixed;
 z-index: 100;
 top:65%;
 left: 55%;
}
