html{
  width: 100%;
  height: 100%;
  background-color: #dae8d5;
  color: #fff;
}

body{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  position: relative;
  align-items:center;
  justify-content:center;
  font-family: "微軟正黑體","Microsoft JhengHei";
}

header{

  position:fixed;
  right:0;
}

a{
  text-decoration: none;
  color: #000;
  letter-spacing: 50px;　
}

.clear:after{
    display: block;
    clear:both;
    content:"";
}

.container{
  display: block;;
  position: relative;
  width: 1240px;
  height: 100%;
  /*padding-left: 20px;
  padding-right: 20px; */
  margin: auto;
}

.title{
  display: block;
  animation: fall 0.5s ease-in-out infinite;
  animation-iteration-count :1;
  position: absolute;
  bottom: 15px;  /* 25% */
  left: -110px;
}
@keyframes fall {
  0% {
      bottom: 1000px;
  }
  65% {
    bottom: 15px;
  }
  86%{
    bottom: 45px;
  }
  100% {
      bottom: 15px;
  }
}

.balls{
  display: block;
  /* position:relative; */
  position: fixed;
  bottom: 5%;  /* 25% */
  margin-left: 300px;
  width: 921px;
  height: 172px;
}
.ball{
  width: 172px;
  height: 172px;
  display: block;
  position: relative;
  /*position:absolute; */
  float:left;
  margin-left: 12px;
  /* animation: fadeIn 0.3s ease-in infinite; */
  animation-iteration-count :1;

  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

.ballon{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  animation: fadeIn 0.3s ease-in infinite;
  animation-iteration-count :1;
  opacity: 1;
}
 @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

.back{
    transform: rotateY(180deg);
	background-color:rgba(255,255,255,0.7);
  width:100%;
  height:100%;
  margin: 0px;
  border-radius: 50%;
  align-items: center;
  -webkit-transform: rotateY(180deg);
  backface-visibility: hidden;
}

.ball p{
  position:absolute;
  font-size: 25px;
  top: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ball img{
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  -webkit-transform:rotate(0deg);
  backface-visibility: hidden;
}
.ball:hover{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/*.flipped{*/
/*    transform: rotateY(180deg);*/
/*    -webkit-transform: rotateY(180deg);*/
/*}*/

