 html{
  width: 100%;
  height: 100%;
  background-color: #dae8d5;
  font-family: "微軟正黑體","Microsoft JhengHei";
  color: #000;

}

body{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-image: url(../img/bg2.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  position: relative;
  align-items:center;
  justify-content:center;
  font-family: "微軟正黑體","Microsoft JhengHei";
}

h3{
  font-family: "微軟正黑體","Microsoft JhengHei";
}

.clear:after{
  display: block;
  clear: both;
  content: "";
}

.set_right{
  display: block;
  float: right;
}
.set_left{
  display: block;
  float: left;
}


.container{
  width: 1280px;
  height: 100% ;
  margin: auto;
  /* background-color: rgba(255,255,255,0.4); */
}

a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 50px;　
}

.title{
  padding-top: 30px;
  height: 70px;
}
.title h3{
  text-align: center;
  margin: 0px;
}
.title hr{
  border: 0;
  height: 1.5px;
  width: 200px;
  background: #000;
  margin: 5px auto 0px auto;
}


.info{
  width: 1240px;
  height:800px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  margin: 0 auto;
}
.info p{
  font-size: 25px;
  line-height: 40px;
  /* letter-spacing: 50px;　 */
}

.infobox{
  position: relative;
  width: 5%;
  height:100%;
  float: right;
  border-radius: 10px;
  -webkit-clip-path:polygon(0% 0%, 0% 100%,130% 100%,130% 0%);
  box-shadow: 10px 0px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;

}
.infobox.open{
  width: 80%;
}

.infobox>img{
  display: block;
  position: absolute;
  top:25%;
  right: 0%;
}
.description{
  width: 730px;
  opacity: 0;
  position:fixed;
  top:180px;
  margin-left: 50px;
  transition: all 0.1s ease-out;
  transition-delay:0s;
}


.infobox.open>img{
  display: block;
  position: absolute;
  top:25%;
  right:0%;
}
.infobox.open .description{
  opacity: 100;
  transition: all 1s ease-out;
  transition-delay:0.7s;
}

.description>div{
  margin-bottom: 20px;
}
.description>div>p{
  font-size:50px;
  height: 50px;
  bottom: 0px;
  margin-left: 50px;
  margin-top: 50px;
}
