<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>打_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,973},{326,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,347}}</string>
                <key>sourceSize</key>
                <string>{326,347}</string>
            </dict>
            <key>打_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,973},{325,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,350}}</string>
                <key>sourceSize</key>
                <string>{325,350}</string>
            </dict>
            <key>拉筋_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{239,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,221}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>拉筋_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{239,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,221}}</string>
                <key>sourceSize</key>
                <string>{239,221}</string>
            </dict>
            <key>滑_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{367,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,121}}</string>
                <key>sourceSize</key>
                <string>{367,121}</string>
            </dict>
            <key>滑_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{367,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,121}}</string>
                <key>sourceSize</key>
                <string>{367,121}</string>
            </dict>
            <key>跑_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跑_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,469},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跑_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,469},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跑_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,221},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跑_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,221},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跑_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,221},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>跳_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,973},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>跳_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>跳_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,721},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>跳_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,469},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>跳_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,721},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bo_ani.png</string>
            <key>size</key>
            <string>{978,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4fd961bd861328d1face8114e918152:6fd0ab21203a38bb079f422e4a8f10bd:6868bbd44621099df35c57372bf438e6$</string>
            <key>textureFileName</key>
            <string>bo_ani.png</string>
        </dict>
    </dict>
</plist>
