<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{199,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,434}}</string>
                <key>sourceSize</key>
                <string>{199,434}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{199,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,434}}</string>
                <key>sourceSize</key>
                <string>{199,434}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,660},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{190,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,221}}</string>
                <key>sourceSize</key>
                <string>{190,221}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,204}}</string>
                <key>sourceSize</key>
                <string>{173,204}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,434},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,434},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,0},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>slip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,886},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>slip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1072},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>tension_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,660},{228,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,209}}</string>
                <key>sourceSize</key>
                <string>{228,209}</string>
            </dict>
            <key>tension_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,660},{232,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,200}}</string>
                <key>sourceSize</key>
                <string>{232,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bo_ani.png</string>
            <key>size</key>
            <string>{985,1192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33fa292e4cf86aa3253d0b371a2954dc:9333b989a8f6ae8cdf3a76a3b67ed0f5:6868bbd44621099df35c57372bf438e6$</string>
            <key>textureFileName</key>
            <string>bo_ani.png</string>
        </dict>
    </dict>
</plist>
