<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,149},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,149},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,149},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>GO.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,508},{245,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,205}}</string>
                <key>sourceSize</key>
                <string>{245,205}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,862},{310,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,374}}</string>
                <key>sourceSize</key>
                <string>{310,374}</string>
            </dict>
            <key>d_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1351},{516,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,492}}</string>
                <key>sourceSize</key>
                <string>{516,492}</string>
            </dict>
            <key>d_ground_bigpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1843},{902,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,492}}</string>
                <key>sourceSize</key>
                <string>{902,492}</string>
            </dict>
            <key>d_ground_rockpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1351},{516,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,492}}</string>
                <key>sourceSize</key>
                <string>{516,492}</string>
            </dict>
            <key>d_ground_smallpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1351},{516,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,492}}</string>
                <key>sourceSize</key>
                <string>{516,492}</string>
            </dict>
            <key>d_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1843},{358,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,568}}</string>
                <key>sourceSize</key>
                <string>{358,568}</string>
            </dict>
            <key>d_img_bigpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,862},{544,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,489}}</string>
                <key>sourceSize</key>
                <string>{544,489}</string>
            </dict>
            <key>d_img_rockpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1843},{356,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,531}}</string>
                <key>sourceSize</key>
                <string>{356,531}</string>
            </dict>
            <key>d_img_smallpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,862},{310,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,489}}</string>
                <key>sourceSize</key>
                <string>{310,489}</string>
            </dict>
            <key>decoration_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>decoration_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{244,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,112}}</string>
                <key>sourceSize</key>
                <string>{244,112}</string>
            </dict>
            <key>decoration_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{1180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1180,174}}</string>
                <key>sourceSize</key>
                <string>{1180,174}</string>
            </dict>
            <key>name_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,149},{1180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1180,174}}</string>
                <key>sourceSize</key>
                <string>{1180,174}</string>
            </dict>
            <key>obstacle_bo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,508},{165,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,223}}</string>
                <key>sourceSize</key>
                <string>{165,223}</string>
            </dict>
            <key>obstacle_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,149},{114,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{114,155}</string>
            </dict>
            <key>obstacle_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,149},{114,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{114,155}</string>
            </dict>
            <key>obstacle_cap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,0},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_cap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_cap_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,0},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_fruit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_fruit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_fruit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_insect.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,0},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>obstacle_marble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,0},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,138}</string>
            </dict>
            <key>obstacle_marble_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,138}</string>
            </dict>
            <key>obstacle_nail.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>obstacle_pinecone.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,149},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>obstacle_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,508},{371,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,311}}</string>
                <key>sourceSize</key>
                <string>{371,311}</string>
            </dict>
            <key>up_leftground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,323},{284,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,185}}</string>
                <key>sourceSize</key>
                <string>{284,185}</string>
            </dict>
            <key>up_leftlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,862},{354,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,354}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>up_midground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{284,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,185}}</string>
                <key>sourceSize</key>
                <string>{284,185}</string>
            </dict>
            <key>up_midlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,508},{354,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,354}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>up_rightground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,323},{284,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,185}}</string>
                <key>sourceSize</key>
                <string>{284,185}</string>
            </dict>
            <key>up_rightlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{354,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,354}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>up_rockground.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{453,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,73}}</string>
                <key>sourceSize</key>
                <string>{453,73}</string>
            </dict>
            <key>up_rocklight.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,508},{485,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,185}}</string>
                <key>sourceSize</key>
                <string>{485,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_element.png</string>
            <key>size</key>
            <string>{2007,2411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be8a02265fb60726445549fccb1a1165:c75864c740fad053708ef8b8333479a9:06b0b58d0a17dfa76188c8b38886fb09$</string>
            <key>textureFileName</key>
            <string>game_element.png</string>
        </dict>
    </dict>
</plist>
