<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_btn_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,175},{274,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,118}}</string>
                <key>sourceSize</key>
                <string>{274,118}</string>
            </dict>
            <key>menu_btn_ch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,425},{304,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,133}}</string>
                <key>sourceSize</key>
                <string>{304,133}</string>
            </dict>
            <key>menu_btn_ch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{285,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,118}}</string>
                <key>sourceSize</key>
                <string>{285,118}</string>
            </dict>
            <key>menu_btn_ch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,175},{277,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,108}}</string>
                <key>sourceSize</key>
                <string>{277,108}</string>
            </dict>
            <key>menu_btn_ch4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,293},{305,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,122}}</string>
                <key>sourceSize</key>
                <string>{305,122}</string>
            </dict>
            <key>menu_btn_ch5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,73},{289,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,102}}</string>
                <key>sourceSize</key>
                <string>{289,102}</string>
            </dict>
            <key>menu_btn_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{260,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,104}}</string>
                <key>sourceSize</key>
                <string>{260,104}</string>
            </dict>
            <key>menu_ch1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,293},{326,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,132}}</string>
                <key>sourceSize</key>
                <string>{326,132}</string>
            </dict>
            <key>menu_ch1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,589},{257,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,190}}</string>
                <key>sourceSize</key>
                <string>{257,190}</string>
            </dict>
            <key>menu_ch2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{320,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,188}</string>
            </dict>
            <key>menu_ch2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,589},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>menu_ch3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,793},{227,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,234}}</string>
                <key>sourceSize</key>
                <string>{227,234}</string>
            </dict>
            <key>menu_ch3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{308,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,288}}</string>
                <key>sourceSize</key>
                <string>{308,288}</string>
            </dict>
            <key>menu_ch4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,793},{263,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,224}}</string>
                <key>sourceSize</key>
                <string>{263,224}</string>
            </dict>
            <key>menu_ch4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1032},{249,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,347}}</string>
                <key>sourceSize</key>
                <string>{249,347}</string>
            </dict>
            <key>menu_ch5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,793},{208,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,239}}</string>
                <key>sourceSize</key>
                <string>{208,239}</string>
            </dict>
            <key>menu_ch5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,793},{272,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,226}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>menu_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,425},{606,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,164}}</string>
                <key>sourceSize</key>
                <string>{606,164}</string>
            </dict>
            <key>menu_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1032},{348,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,321}}</string>
                <key>sourceSize</key>
                <string>{348,321}</string>
            </dict>
            <key>menu_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_line_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,73},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>menu_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,73},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>menu_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,73},{51,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,97}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
            <key>menu_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>menu_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,73},{54,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,97}}</string>
                <key>sourceSize</key>
                <string>{54,97}</string>
            </dict>
            <key>menu_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,73},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>menu_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,73},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>menu_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>menu_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,73},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>menu_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,73},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7319756f210f373ab52fcb4c0bc5101:9a2d22af2880e15d19bedd73d5202ae5:9e25372324c16072bfec9d2a4c0e90d0$</string>
            <key>textureFileName</key>
            <string>game_menu.png</string>
        </dict>
    </dict>
</plist>
