<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,136},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,136},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,136},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>GO.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,136},{245,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,205}}</string>
                <key>sourceSize</key>
                <string>{245,205}</string>
            </dict>
            <key>d_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1337},{516,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,489}}</string>
                <key>sourceSize</key>
                <string>{516,489}</string>
            </dict>
            <key>d_ground_bigpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,848},{902,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,489}}</string>
                <key>sourceSize</key>
                <string>{902,489}</string>
            </dict>
            <key>d_ground_rockpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1337},{516,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,489}}</string>
                <key>sourceSize</key>
                <string>{516,489}</string>
            </dict>
            <key>d_ground_smallpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,848},{516,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,489}}</string>
                <key>sourceSize</key>
                <string>{516,489}</string>
            </dict>
            <key>d_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1337},{358,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,591}}</string>
                <key>sourceSize</key>
                <string>{358,591}</string>
            </dict>
            <key>d_img_bigpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{544,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,489}}</string>
                <key>sourceSize</key>
                <string>{544,489}</string>
            </dict>
            <key>d_img_rockpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1337},{356,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,531}}</string>
                <key>sourceSize</key>
                <string>{356,531}</string>
            </dict>
            <key>d_img_smallpit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,359},{310,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,489}}</string>
                <key>sourceSize</key>
                <string>{310,489}</string>
            </dict>
            <key>decoration_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>decoration_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{244,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,112}}</string>
                <key>sourceSize</key>
                <string>{244,112}</string>
            </dict>
            <key>decoration_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>obstacle_bo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,136},{165,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,223}}</string>
                <key>sourceSize</key>
                <string>{165,223}</string>
            </dict>
            <key>obstacle_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,136},{114,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{114,155}</string>
            </dict>
            <key>obstacle_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,136},{114,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{114,155}</string>
            </dict>
            <key>obstacle_cap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,136},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_cap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,136},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_cap_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,136},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>obstacle_fruit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_fruit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_fruit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,0},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>obstacle_insect.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>obstacle_marble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,136},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,138}</string>
            </dict>
            <key>obstacle_marble_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,138}</string>
            </dict>
            <key>obstacle_nail.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>obstacle_pinecone.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,136},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>obstacle_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,359},{371,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,311}}</string>
                <key>sourceSize</key>
                <string>{371,311}</string>
            </dict>
            <key>up_leftground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,0},{188,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,112}</string>
            </dict>
            <key>up_leftlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>up_midground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,0},{151,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,112}}</string>
                <key>sourceSize</key>
                <string>{151,112}</string>
            </dict>
            <key>up_midlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,359},{354,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,354}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>up_rightground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,0},{158,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,112}}</string>
                <key>sourceSize</key>
                <string>{158,112}</string>
            </dict>
            <key>up_rightlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,359},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>up_rockground.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{382,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,112}}</string>
                <key>sourceSize</key>
                <string>{382,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_element.png</string>
            <key>size</key>
            <string>{1962,1928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5461f06846636036ec9b37d525ab71f0:56c06b84c2326ef3a9b67c3c19455ace:06b0b58d0a17dfa76188c8b38886fb09$</string>
            <key>textureFileName</key>
            <string>game_element.png</string>
        </dict>
    </dict>
</plist>
