<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_helpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>b_helpOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>b_playDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>b_playOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>b_scoreDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>b_scoreOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1191},{16,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,720}}</string>
                <key>sourceSize</key>
                <string>{16,720}</string>
            </dict>
            <key>cuberbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{960,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,465}}</string>
                <key>sourceSize</key>
                <string>{960,465}</string>
            </dict>
            <key>replaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>returnbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>s101bgimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1191},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>s101line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>s101line02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>s_closeDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_closeOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>s_helpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_helpOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_homeDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_homeOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_menuDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_menuOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_restartDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>s_restartOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>sr_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,436},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
            <key>sr_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,436},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene101bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a1fd5c616aacfddc5da87a36cc1512f:7ad5c32ba197f06906792aee2aae2753:3ae7ab4bf2d227a3b30df81bb294d8eb$</string>
            <key>textureFileName</key>
            <string>scene101bg.png</string>
        </dict>
    </dict>
</plist>
