<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{324,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,345}}</string>
                <key>sourceSize</key>
                <string>{324,345}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{324,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,345}}</string>
                <key>sourceSize</key>
                <string>{324,345}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{190,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,221}}</string>
                <key>sourceSize</key>
                <string>{190,221}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,345},{173,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,204}}</string>
                <key>sourceSize</key>
                <string>{173,204}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,345},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,345},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,566},{215,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,235}}</string>
                <key>sourceSize</key>
                <string>{215,235}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,566},{189,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,235}}</string>
                <key>sourceSize</key>
                <string>{189,235}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,566},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,801},{215,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,235}}</string>
                <key>sourceSize</key>
                <string>{215,235}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,801},{201,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,235}}</string>
                <key>sourceSize</key>
                <string>{201,235}</string>
            </dict>
            <key>slip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,801},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>slip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1036},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>tension_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1036},{228,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,209}}</string>
                <key>sourceSize</key>
                <string>{228,209}</string>
            </dict>
            <key>tension_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1036},{232,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,200}}</string>
                <key>sourceSize</key>
                <string>{232,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bo.png</string>
            <key>size</key>
            <string>{879,1245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2312c9cdf4b8ee8c8178c583e588ab:8ee8ed22f1205fd271e46513f9fac6e3:2a9849161c73ae21e33c01d67cbf69c2$</string>
            <key>textureFileName</key>
            <string>bo.png</string>
        </dict>
    </dict>
</plist>
