<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{183,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,427}}</string>
                <key>sourceSize</key>
                <string>{183,427}</string>
            </dict>
            <key>attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{183,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,427}}</string>
                <key>sourceSize</key>
                <string>{183,427}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,662},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{190,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,221}}</string>
                <key>sourceSize</key>
                <string>{190,221}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,204}}</string>
                <key>sourceSize</key>
                <string>{173,204}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,888},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,427},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,427},{215,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,235}}</string>
                <key>sourceSize</key>
                <string>{215,235}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{189,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,235}}</string>
                <key>sourceSize</key>
                <string>{189,235}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{224,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,226}}</string>
                <key>sourceSize</key>
                <string>{224,226}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,427},{215,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,235}}</string>
                <key>sourceSize</key>
                <string>{215,235}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,427},{201,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,235}}</string>
                <key>sourceSize</key>
                <string>{201,235}</string>
            </dict>
            <key>slip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,888},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>slip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1074},{381,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,120}}</string>
                <key>sourceSize</key>
                <string>{381,120}</string>
            </dict>
            <key>tension_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,662},{228,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,209}}</string>
                <key>sourceSize</key>
                <string>{228,209}</string>
            </dict>
            <key>tension_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,662},{232,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,200}}</string>
                <key>sourceSize</key>
                <string>{232,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bo_ani.png</string>
            <key>size</key>
            <string>{918,1194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1910d856a4b630267460c6fbe95706b0:27715133a04225813e98837c7dca54f4:6868bbd44621099df35c57372bf438e6$</string>
            <key>textureFileName</key>
            <string>bo_ani.png</string>
        </dict>
    </dict>
</plist>
