<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_btn_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{261,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,154}}</string>
                <key>sourceSize</key>
                <string>{261,154}</string>
            </dict>
            <key>menu_btn_ch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,473},{415,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,252}}</string>
                <key>sourceSize</key>
                <string>{415,252}</string>
            </dict>
            <key>menu_btn_ch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,820},{455,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,288}}</string>
                <key>sourceSize</key>
                <string>{455,288}</string>
            </dict>
            <key>menu_btn_ch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{415,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,326}}</string>
                <key>sourceSize</key>
                <string>{415,326}</string>
            </dict>
            <key>menu_btn_ch4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,473},{415,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,326}}</string>
                <key>sourceSize</key>
                <string>{415,326}</string>
            </dict>
            <key>menu_btn_ch5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,820},{415,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,326}}</string>
                <key>sourceSize</key>
                <string>{415,326}</string>
            </dict>
            <key>menu_btn_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,820},{415,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,326}}</string>
                <key>sourceSize</key>
                <string>{415,326}</string>
            </dict>
            <key>menu_ch1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,0},{326,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,132}}</string>
                <key>sourceSize</key>
                <string>{326,132}</string>
            </dict>
            <key>menu_ch1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,0},{257,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,190}}</string>
                <key>sourceSize</key>
                <string>{257,190}</string>
            </dict>
            <key>menu_ch2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,239},{320,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,188}</string>
            </dict>
            <key>menu_ch2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,0},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>menu_ch3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{227,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,234}}</string>
                <key>sourceSize</key>
                <string>{227,234}</string>
            </dict>
            <key>menu_ch3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,473},{308,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,288}}</string>
                <key>sourceSize</key>
                <string>{308,288}</string>
            </dict>
            <key>menu_ch4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,239},{263,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,224}}</string>
                <key>sourceSize</key>
                <string>{263,224}</string>
            </dict>
            <key>menu_ch4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,473},{249,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,347}}</string>
                <key>sourceSize</key>
                <string>{249,347}</string>
            </dict>
            <key>menu_ch5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,0},{208,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,239}}</string>
                <key>sourceSize</key>
                <string>{208,239}</string>
            </dict>
            <key>menu_ch5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,239},{272,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,226}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>menu_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1146},{606,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,164}}</string>
                <key>sourceSize</key>
                <string>{606,164}</string>
            </dict>
            <key>menu_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,473},{348,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,321}}</string>
                <key>sourceSize</key>
                <string>{348,321}</string>
            </dict>
            <key>menu_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,239},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_line_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,239},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,0},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>menu_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>menu_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{51,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,97}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
            <key>menu_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,0},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>menu_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{54,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,97}}</string>
                <key>sourceSize</key>
                <string>{54,97}</string>
            </dict>
            <key>menu_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,0},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>menu_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>menu_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>menu_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>menu_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_menu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9707951d0fee5619185780d4f8573536:ddef512c5e844a5bc043eda1d4e5e334:9e25372324c16072bfec9d2a4c0e90d0$</string>
            <key>textureFileName</key>
            <string>game_menu.png</string>
        </dict>
    </dict>
</plist>
