<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_backbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,230}}</string>
                <key>sourceSize</key>
                <string>{270,230}</string>
            </dict>
            <key>board_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{2731,1771}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1771}}</string>
                <key>sourceSize</key>
                <string>{2731,1771}</string>
            </dict>
            <key>board_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{1634,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1634,214}}</string>
                <key>sourceSize</key>
                <string>{1634,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_board.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56bb8f1e4bcea98cd420cebe0e3ddc52:a2b3f0f8b26195e3676742c4b4c037a5:37d2b7dde079c20c3409f5165db8b7c5$</string>
            <key>textureFileName</key>
            <string>game_board.png</string>
        </dict>
    </dict>
</plist>
