<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2407,626},{445,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,403}}</string>
                <key>sourceSize</key>
                <string>{445,403}</string>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1797},{2735,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2735,1540}}</string>
                <key>sourceSize</key>
                <string>{2735,1540}</string>
            </dict>
            <key>board_backbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,131}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>board_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2248,1029},{1365,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1365,768}}</string>
                <key>sourceSize</key>
                <string>{1365,768}</string>
            </dict>
            <key>board_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1029},{1124,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,207}}</string>
                <key>sourceSize</key>
                <string>{1124,207}</string>
            </dict>
            <key>board_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1029},{1124,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,207}}</string>
                <key>sourceSize</key>
                <string>{1124,207}</string>
            </dict>
            <key>menu_btn_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,0},{285,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,150}}</string>
                <key>sourceSize</key>
                <string>{285,150}</string>
            </dict>
            <key>menu_btn_ch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,0},{447,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,268}}</string>
                <key>sourceSize</key>
                <string>{447,268}</string>
            </dict>
            <key>menu_btn_ch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,0},{453,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,286}}</string>
                <key>sourceSize</key>
                <string>{453,286}</string>
            </dict>
            <key>menu_btn_ch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,626},{491,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,352}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>menu_btn_ch4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2734,286},{479,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,338}}</string>
                <key>sourceSize</key>
                <string>{479,338}</string>
            </dict>
            <key>menu_btn_ch5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3213,286},{481,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,338}}</string>
                <key>sourceSize</key>
                <string>{481,338}</string>
            </dict>
            <key>menu_ch1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3214,0},{495,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,270}}</string>
                <key>sourceSize</key>
                <string>{495,270}</string>
            </dict>
            <key>menu_ch1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2719,0},{495,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,270}}</string>
                <key>sourceSize</key>
                <string>{495,270}</string>
            </dict>
            <key>menu_ch2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,286},{473,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,295}}</string>
                <key>sourceSize</key>
                <string>{473,295}</string>
            </dict>
            <key>menu_ch2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{473,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,295}}</string>
                <key>sourceSize</key>
                <string>{473,295}</string>
            </dict>
            <key>menu_ch3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{470,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,351}}</string>
                <key>sourceSize</key>
                <string>{470,351}</string>
            </dict>
            <key>menu_ch3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,626},{470,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,351}}</string>
                <key>sourceSize</key>
                <string>{470,351}</string>
            </dict>
            <key>menu_ch4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,626},{488,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,362}}</string>
                <key>sourceSize</key>
                <string>{488,362}</string>
            </dict>
            <key>menu_ch4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,626},{488,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,362}}</string>
                <key>sourceSize</key>
                <string>{488,362}</string>
            </dict>
            <key>menu_ch5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2852,626},{480,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,374}}</string>
                <key>sourceSize</key>
                <string>{480,374}</string>
            </dict>
            <key>menu_ch5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3332,626},{480,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,374}}</string>
                <key>sourceSize</key>
                <string>{480,374}</string>
            </dict>
            <key>menu_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,286},{451,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,328}}</string>
                <key>sourceSize</key>
                <string>{451,328}</string>
            </dict>
            <key>menu_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,286},{451,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,328}}</string>
                <key>sourceSize</key>
                <string>{451,328}</string>
            </dict>
            <key>menu_game_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,286},{443,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,340}}</string>
                <key>sourceSize</key>
                <string>{443,340}</string>
            </dict>
            <key>menu_game_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2291,286},{443,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,340}}</string>
                <key>sourceSize</key>
                <string>{443,340}</string>
            </dict>
            <key>menu_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_line_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
            <key>menu_line_inner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,0},{462,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,73}}</string>
                <key>sourceSize</key>
                <string>{462,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_menu.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e1b417cff2257392fc52cb77ea4cbb:41ec34b544b6c28e60f05662e7bcfdeb:9e25372324c16072bfec9d2a4c0e90d0$</string>
            <key>textureFileName</key>
            <string>game_menu.png</string>
        </dict>
    </dict>
</plist>
