<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,112},{111,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,169}}</string>
                <key>sourceSize</key>
                <string>{111,169}</string>
            </dict>
            <key>GO.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,112},{245,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,205}}</string>
                <key>sourceSize</key>
                <string>{245,205}</string>
            </dict>
            <key>big_pit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,604},{456,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,533}}</string>
                <key>sourceSize</key>
                <string>{456,533}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,0},{244,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,112}}</string>
                <key>sourceSize</key>
                <string>{244,112}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{442,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,503}}</string>
                <key>sourceSize</key>
                <string>{442,503}</string>
            </dict>
            <key>insect.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{107,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,95}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>left_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{188,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,99}}</string>
                <key>sourceSize</key>
                <string>{188,99}</string>
            </dict>
            <key>mid_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{151,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,102}}</string>
                <key>sourceSize</key>
                <string>{151,102}</string>
            </dict>
            <key>nail.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>nail_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,0},{460,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,105}}</string>
                <key>sourceSize</key>
                <string>{460,105}</string>
            </dict>
            <key>right_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{156,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,112}}</string>
                <key>sourceSize</key>
                <string>{156,112}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,112},{374,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,311}}</string>
                <key>sourceSize</key>
                <string>{374,311}</string>
            </dict>
            <key>rock_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>rock_pit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,112},{507,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,492}}</string>
                <key>sourceSize</key>
                <string>{507,492}</string>
            </dict>
            <key>small_pit.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,604},{611,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,521}}</string>
                <key>sourceSize</key>
                <string>{611,521}</string>
            </dict>
            <key>smallbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,112},{165,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,223}}</string>
                <key>sourceSize</key>
                <string>{165,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_element.png</string>
            <key>size</key>
            <string>{1727,1137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f6c16655f31ea968406ceb87c6d015b:afe167ca0978e89e60b6004dc84de326:06b0b58d0a17dfa76188c8b38886fb09$</string>
            <key>textureFileName</key>
            <string>game_element.png</string>
        </dict>
    </dict>
</plist>
