<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,917},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>s_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,0},{703,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,376}}</string>
                <key>sourceSize</key>
                <string>{703,376}</string>
            </dict>
            <key>startpage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2453},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>startpage_grass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,0},{543,888}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,888}}</string>
                <key>sourceSize</key>
                <string>{543,888}</string>
            </dict>
            <key>startpage_grass02.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{388,896}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,896}}</string>
                <key>sourceSize</key>
                <string>{388,896}</string>
            </dict>
            <key>startpage_grass03.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{307,917}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,917}}</string>
                <key>sourceSize</key>
                <string>{307,917}</string>
            </dict>
            <key>startpage_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>startpage_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2315,0},{896,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,588}}</string>
                <key>sourceSize</key>
                <string>{896,588}</string>
            </dict>
            <key>touchArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{291,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,514}}</string>
                <key>sourceSize</key>
                <string>{291,514}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_start.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cd56c7bd11cb00097c438868968069:4e71042558b3a2edfb30a1938b392186:3832278e6670d3d6a343cc72bf9c200b$</string>
            <key>textureFileName</key>
            <string>game_start.png</string>
        </dict>
    </dict>
</plist>
