<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2441},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>btn_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{500,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>startpage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,905},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>startpage_grass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,0},{702,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,760}}</string>
                <key>sourceSize</key>
                <string>{702,760}</string>
            </dict>
            <key>startpage_grass02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,0},{573,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,747}}</string>
                <key>sourceSize</key>
                <string>{573,747}</string>
            </dict>
            <key>startpage_grass03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{456,905}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,905}}</string>
                <key>sourceSize</key>
                <string>{456,905}</string>
            </dict>
            <key>startpage_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>startpage_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2314,0},{896,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,588}}</string>
                <key>sourceSize</key>
                <string>{896,588}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_start.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae47987295be3b5fad135a8efcd61984:c5265cc7b02707da85c41e857440cca9:3832278e6670d3d6a343cc72bf9c200b$</string>
            <key>textureFileName</key>
            <string>game_start.png</string>
        </dict>
    </dict>
</plist>
