<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>eraser_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>teacc_effect_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,585},{729,744}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,744}}</string>
                <key>sourceSize</key>
                <string>{729,744}</string>
            </dict>
            <key>teacc_effect_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,585},{729,744}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,744}}</string>
                <key>sourceSize</key>
                <string>{729,744}</string>
            </dict>
            <key>teach_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1329},{2775,1572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2775,1572}}</string>
                <key>sourceSize</key>
                <string>{2775,1572}</string>
            </dict>
            <key>teach_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,585},{863,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,524}}</string>
                <key>sourceSize</key>
                <string>{863,524}</string>
            </dict>
            <key>teach_btn_answer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,0},{126,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,91}}</string>
                <key>sourceSize</key>
                <string>{126,91}</string>
            </dict>
            <key>teach_btn_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,0},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>teach_btn_eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,0},{121,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,107}}</string>
                <key>sourceSize</key>
                <string>{121,107}</string>
            </dict>
            <key>teach_btn_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,0},{173,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,157}}</string>
                <key>sourceSize</key>
                <string>{173,157}</string>
            </dict>
            <key>teach_btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,0},{126,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,91}}</string>
                <key>sourceSize</key>
                <string>{126,91}</string>
            </dict>
            <key>teach_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2297,0},{318,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,127}}</string>
                <key>sourceSize</key>
                <string>{318,127}</string>
            </dict>
            <key>teach_btn_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,0},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>teach_btn_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,0},{176,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,122}}</string>
                <key>sourceSize</key>
                <string>{176,122}</string>
            </dict>
            <key>teach_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,0},{310,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,108}}</string>
                <key>sourceSize</key>
                <string>{310,108}</string>
            </dict>
            <key>teach_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>teach_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2892,0},{368,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,585}}</string>
                <key>sourceSize</key>
                <string>{368,585}</string>
            </dict>
            <key>teach_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2615,0},{277,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,345}}</string>
                <key>sourceSize</key>
                <string>{277,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_teach.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93edc83861616329c8fcef12b64f6c7c:a975221f0710a5777929d1183b46fef7:d6752752da0893da8d789f35f2add9a5$</string>
            <key>textureFileName</key>
            <string>game_teach.png</string>
        </dict>
    </dict>
</plist>
